@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap')

*
    box-sizing: border-box
    -moz-box-sizing: border-box
    image-rendering: -webkit-optimize-contrast
    &:before, &:after
        box-sizing: border-box
        -moz-box-sizing: border-box
        image-rendering: -webkit-optimize-contrast

body
    font-family: 'Raleway', sans-serif
    font-weight: 300
    font-size: 16px
    line-height: .5

h1
    font-weight: 500
    font-size: 42px
    text-transform: uppercase

